@charset "UTF-8";


div#interface{
    width: 1050px; /* delimitar a largura*/
    background-color: white; /* cor do container*/
    margin: 20px auto  0px auto; /*medidas da margem cima/ direita /baixo/ esquerda*/
    border-color: 1px rgba(0,0,0,0.4);
}
div#interface h1 { /*configurando o titulo "Jogo da memória"*/
    font-family: Britannic, sans-serif;  /*font e o efeito especial*/
    font-size: 30pt; /*tamanho letra*/
    color: #707070; /*cor letra*/
    text-align: center;/*texto centralizado*/
    /*linha em baixo do texto*/
}
footer#rodape{
    clear:both; /* que o conteúdo fique fora da configuração*/
    border-top: 1px solid #606060;
    padding-top: 15pt;
}
footer#rodape p{
    text-align : center;
    color: #707070;
}
footer#rodape a{
    text-align : center;
    color: #707070;
    text-decoration: none;
}
footer#rodape a:hover{ /* faz a letra do menu mudar de cor */
    color: black;
    text-decoration: inderline;
}